<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/images/pokemon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        PokeRoom
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/shop/">
                <img src="/images/pokeroomPrive.png" width="30" height="30" class="d-inline-block align-top" alt="">
                pokeBoutique
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sac">
                <img src="/images/sac.png" width="40" height="30" class="d-inline-block align-top" alt="">
                pokeSac
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/money">
                <img src="/images/panier.png" width="40" height="30" class="d-inline-block align-top" alt="">
                PokeMoney
            </a>
        </li>
    </ul>
   <span class="label label-default">{trainer}</span>

</nav>