<!DOCTYPE html>
<html lang="en">

{{> layout/header}}

<body>
{{> layout/toolbar}}

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Coucou {{trainer.name}} Voici ton Sac à dos  </h1>

</div>

<h1 class="pt-md-5 pb-md-5">TU AS : {{trainer.pokeMoney}} ¤</h1>



<div class="card-deck">
    {{#trainer.bag}}
    <div class="col-md-4">
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"> {{type}}<span class="badge badge-secondary"></span></h4>


            </div>

            <div class="card-body">





            </div>
        </div>
    </div>

    {{/trainer.bag}}
</div>

</body>
</html>