<!DOCTYPE html>
<html lang="en">
{{> layout/header}}

<body>
{{> layout/toolbar}}
<div class="container pt-4">
<form action="/money" method="post">
    <div class="form-group">
        <label for="euro">Euros</label>
        <input type="number" class="form-control" id="euro" name="qteMoney" aria-describedby="euroBuy" placeholder="Combien veux tu acheter">
        <small id="euroHelp" class="form-text text-muted">Fais chauffer la carte bleue ! </small>
    </div>

    <button type="submit" class="btn btn-primary">Valider</button>
</form>
</div>
</body>
</html>